[submodule "janus/vim-nerdtree-tabs"]
	path = janus/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "fplsync"]
	path = fplsync
	url = git://github.com/fracture91/fplsync.git
